.idea

/bryntum/css
/bryntum/js
/dhtmlx/css
/dhtmlx/js
/devextreme/css
/devextreme/js
/syncfusion/css
/syncfusion/js
/fullcalendar/css/
/fullcalendar/js/
/fullcalendar/packages/
/fullcalendar/packages-premium/
